body {
   font-family: 'Arial', sans-serif;
   text-align: center;
   background-color: rgb(110,120,130);
}
.navbar-brand span {
    color: #ffc107;
}

span{
    color: #ffc107;
}
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 2.0rem;
    font-weight: bold;
    color: #f0f0f0;
}

.navbar-brand:hover {
    color: #d4d4d4;
}

.form-inline .form-control {
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.form-inline .btn {
    border-radius: 20px;
}

footer{
    background-color: rgb(6, 66, 101);
    color: #fff;
    padding: 50px;        
    text-align: center;
    block-size: fit;
    margin: 0%;
    }


.hero-section {
    background: url('https://via.placeholder.com/1500x800') no-repeat center center/cover;
    height: 47vh;
       background-image: url(alexander-kovacs-GMGdhtYeROY-unsplash.jpg);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(210,210,210);
    position: relative;
   
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 41px;
    border-radius: 1px;
   
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(50, 0, 142);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-content .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.about-section, .products-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    opacity: 0.7;
    border-radius:5px;
}

.about-section h2, .products-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p, .products-section .product {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.products-section .product {
    margin-bottom: 40px;
}

.product{
    background-color: #fff;
    border-radius:5px;
}
.products-section .product h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}



.product{
    margin-bottom: 18px;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
}

.product img{
    max-width: 100%;
    max-height: fit-content;
    border-radius: 5px;
    margin:0px;
}
h1{
    color: white;
    font-family: Arial 
}
.bei{ 
    margin-bottom: 18px;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 26px 25px 24px;
    height: 50%;
    width: 40%;
    background-color: #ffb355af;
     
    
}
